@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Nunito', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}
.logo-container {
  display: flex;
  place-items: center;
  position: absolute;
  top: 0.5rem;
  left: 1rem;
}
.logo-container .logo {
  width: 75px;
  margin-right: 0.75rem;
}
.logo-container p {
  font-size: 1.2rem;
  font-weight: bolder;
  margin: 0;
}
.container {
  display: flex;
  width: 80vw;
}
.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40vh;
  border-radius: 1rem;
  color: white;
  cursor: pointer;
  flex: 0.5;
  margin: 0.25rem;
  position: relative;
  opacity: 0.75;
  transition-property: flex, opacity;
  transition: 0.7s ease-in;
}
.panel h3 {
  font-size: 2rem;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  margin: 0;
  padding: 0.5rem;
  opacity: 0;
  text-transform: capitalize;
  width: 90%;
  border-radius: 0.5rem;
  background: linear-gradient(
    90deg,
    rgba(66, 66, 66, 0.8) 0%,
    rgba(255, 255, 255, 0) 100%
  );
}
.panel.active {
  flex: 5;
  opacity: 1;
}
.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}

@media (max-width: 500px) {
  .container {
    width: 100vw;
  }
  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}